# ignore everything
/*


# except for
!/.gitignore

!/.profile
!/.zshrc
!/.p10k.zsh

!/.config/
/.config/*

!/.config/nvim/
!/.config/i3
!/.config/alacritty
!/.config/hypr

!/.scripts/

!/.bin/
/.bin/*

!/.bin/README.md

