# ignore everything
/*


# except for
!/.gitignore

!/.profile
!/.zshrc
!/.p10k.zsh

!/.config/
/.config/*

!/.config/nvim
/.config/nvim/lazy-lock.json
!/.config/i3
!/.config/alacritty
!/.config/hypr
!/.config/waybar

!/.scripts/

!/.bin/
/.bin/*

!/.bin/README.md

